/*--- main body styles ---*/

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

header {
  background-image: url('bookshelf.jpg');
  background-size: cover;
  padding: 0px; 
  position: sticky;
  top: 0;
}

.header-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  padding: 5px;
}

h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
  margin-top: 20px;
  text-shadow: 0 0 10px black;
}

.page-title {
  margin-left: 30px;
}

hr {
  border: 1px solid grey;
  margin: 0px;
}

.pageContainer {
  margin: 0px;
  padding: 2%;
  background-color: rgb(223, 223, 233);
  color: black;
}

.primary-instruction h2 h3{
  margin: 0px;
}

.search-label {
  margin-top: 15px;
  font-size: 20pt;
  font-weight: 900;
}

footer {
  margin: 0px;
}

.footer-container {
  background-color: rgb(200, 200, 230);
  padding: 10px 30px;
}

/*--- button and field styles ---*/

button, input[type="text"] {
  padding: 5px;
  margin: 10px;
}

button {
  background-color: rgb(110, 109, 109);
  color: rgb(240, 238, 238);
  border-radius: 6px;
  border: 1px solid rgb(44, 44, 44);
  box-shadow: 0 0 5px grey;
}

.nyt-button {
  background-color: white;
  color: black;
  padding: 5px;
}

.fresh-search {
  background-color: rgb(200, 200, 230);
  color: black;
  box-shadow: 0 0 10px black;
  font-size: 10pt;
}

.primary-instruction {
  text-align: center;
}

.js-error-message {
  color: red;
  font-size: 20px;
}


/*--- Tastedive search results styles ---*/
.result-big-box {
  border: 1px solid rgb(190, 189, 189);
  margin: 5% 2%;
  padding: 2px 10px;
  background-color: rgb(219, 219, 240);
  border-radius: 8px;
  box-shadow: 0 0 4px grey;
}

.main-hit-title {
  width: 100%;
  padding-left: 20px;
  margin: 10px 5px 5px 5px;
}

.result-medium-box {
  border: 1px solid rgb(136, 134, 134);
  padding: 2%;
  margin: 5px;
  width: 100%;
  background-color: rgb(200, 200, 230);
  border-radius: 8px;
  box-shadow: 0 0 3px grey;
}

.js-successful-search-message h3, h2 {
  margin: 5px;
  text-align: center;
}

.search-summary-box {
  width: auto;
}

.result-header-name {
  margin: 0px;
  font-size: 30px;
  text-align: left;
  text-shadow: 0 0 10px rgb(143, 143, 143);
}

.js-results-list {
  list-style-type: none;
  padding: 0px;
}

.reviews-box {
  width: 80%;
  padding: 10px 20px 10px 10px;
}

.reviews-box h3 {
  margin: 0px 0px 10px 10px;
}

.no-nyt-reviews-message {
  width: auto;
  text-align: center;
  padding: 5px;
}

.buttons-box {
  width: 60%;
}

.link-out-icon {
  background-color: rgb(110, 109, 109);
  border-radius: 6px;
  border: 1px solid rgb(44, 44, 44);
  box-shadow: 0 0 5px grey;
  padding: 5px;
  margin: 5px 0px;
  text-align: center;
}

.wiki-ref-link {
  font-style: italic;
  color: rgb(75, 74, 74);
  text-align: right;
  margin: 0px 20px 0px 0px;
  padding: 0px;
}

.thing-summary {
  margin: 10px;
}

.js-error-message h4 {
  margin: 5px;
  text-align: center;
}


/*--- misc other sections styles ---*/
.primary-instruction h2 {
  margin-top: 20px;
}

.tips-medium-box {
  border: 1px solid rgb(136, 134, 134);
  margin: 10px;
  padding: 10px;
  width: 100%;
  background-color: rgb(200, 200, 230);
  border-radius: 8px;
  box-shadow: 0 0 3px grey;
  text-align: center;
}

.tips-title, .isbn-title {
  text-shadow: 0 0 1px grey;
  margin: 10px 10px 0px 10px;
  text-align: center;
}

.tips-medium-box p {
  margin: 5px;
}

.isbn-results-box {
  width: 60%;
  margin: 20px;
}


/*--- pseudo-classes ---*/ 
main a:link    { 
  color: rgb(23, 76, 156);
  text-decoration: none;
}
main a:visited { color: rgb(69, 120, 187);}
main a:hover   { 
  color: rgb(72, 129, 235);
  text-shadow: 0 0 1px rgb(158, 158, 158);
}
main a:active  { color: deepskyblue;}

.buttons-box a:link { color: rgb(240, 238, 238);}
.buttons-box a:visited { color: rgb(240, 238, 238);}
.buttons-box a:hover { color: rgb(240, 238, 238);}
.buttons-box a:active { color: rgb(240, 238, 238);}



/*--- Groups & Items (Mobile First) ---*/

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

.submission-section {
  height: 100%;
}

.submission-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reset-button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.buttons-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*--- Groups & Items (Desktop) ---*/

@media all and (min-width: 650px) {
  .header-wrapper {
    padding: 10px 40px 10px 40px;
  }

  h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }
  
  .page-title {
    margin-left: 40px;
    margin-bottom: 0px;
  }

  .search-label {
    margin: 0px;
  }

  .fresh-search {
    font-size: 12pt;
  }

  .reset-button-container {
    align-items: flex-end;
  }

  .pageContainer {
    padding: 20px 10%;
  }

  .result-big-box {
    padding: 10px 25px;
    margin: 3%;
  }

  .result-medium-box {
    padding: 10px;
    width: 100%;
  }

  .search-summary-box {
    width: auto;
  }
  
  button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(77, 77, 77);
  }

  .fresh-search:hover {
    box-shadow: 0 0 20px black;
  }

  .buttons-box {
    width: 80%;
  }

  .thing-summary {
    margin: 10px 20px 0px 20px;
  }

  .reviews-box {
    width: auto;
    padding: 10px 40px 20px 40px;
  }
  
  .reviews-box h3 {
    margin: 10px;
  }

  .link-out-icon:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgb(82, 82, 82);
  }

  .no-nyt-reviews-message {
    padding: 5px 20px;
  }

  .buttons-group, .header-group {
    flex-direction: row;
  }

  .buttons-group {
    justify-content: space-evenly;
  }

  .header-group {
    justify-content: space-between;
  }

  .tips-title, .isbn-title {
    margin: 20px;
  }
}


/*--- give hidden class highest priority ---*/
.hidden {
  display: none;
}